@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-single_day: 'Single Day', sans-serif;
}

html {
  background: rgb(255, 245, 254);
  background: linear-gradient(
    70deg,
    rgb(252, 234, 249) 0%,
    rgb(231, 235, 255) 100%
  );
  font-weight: 400;
  font-style: normal;
  color: rgb(5, 57, 102);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

body {
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  /* color: rgb(5, 97, 102); */
  width: 70%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

img {
  max-height: 600px;
}

a:hover,
.log-btn:hover {
  text-decoration: underline;
}

.single_day {
  font-family: var(--font-single_day);
}

.button-submit {
  line-height: 1;
  background-color: initial;
  background-image: linear-gradient(#8233f8 0, #760be0 100%);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  outline: 0;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  padding: 5px 15px;
}

.button-submit:hover {
  opacity: 0.7;
}

.button-cancel {
  background-color: initial;
  background-image: linear-gradient(#f83333 0, #e00b12 100%);
}

.search_result {
  padding: 10px 20px;
  margin: 10px 0px;
  border: none;
  outline: none;
  background: rgb(247, 241, 249);
  position: relative;
  z-index: 0;
  border-radius: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.search_result:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(
    160deg,
    rgb(150, 165, 243) 0%,
    rgb(239, 160, 226) 100%
  );
  border-radius: 15px;
  padding: 2px;
  box-sizing: border-box;
}

.search_result:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: rgb(247, 241, 249);
  border-radius: 10px;
  z-index: -1;
}
