@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-single_day: 'Single Day', sans-serif;
}

html {
  background-color: #edfeff;
  font-weight: 400;
  font-style: normal;
  color: rgb(5, 97, 102);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

body {
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: rgb(5, 97, 102);
  width: 70%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

img {
  max-height: 600px;
}

/* ul {
  list-style-type: disc;
  list-style-position: inside;
}

ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
} */

a:hover,
.log-btn:hover {
  text-decoration: underline;
}

.single_day {
  font-family: var(--font-single_day);
}
